{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success d-inline-block">{{ button_label|default('Enregistrer') }}</button>
    <a href="{{ path('article_index') }}" class="btn btn-dark">Retour à la liste</a>
{{ form_end(form) }}
