{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success d-inline-block">{{ button_label|default('Save') }}</button>
    <a href="{{ path('article_index') }}" class="btn btn-dark">back to list</a>
{{ form_end(form) }}
